{% extends 'base.html' %}
{% block content %}
<div class = "detail__image">
    <img src = "{{finch.img}}" alt = "{{finch.name}}" />
</div>
<h1>{{finch.name}}</h1>
<div class = "about">
    <h4>About</h4>
    <p>{{finch.bio}}</p>
</div>
<div>
    <a href = "{% url 'finch_update' finch.pk %}">Update {{finch.name}}</a>
</div>
<div>
    <a href = "{% url 'finch_delete' finch.pk %}">Delete {{finch.name}}</a>
</div>

<div class="detail__songs mb-5">
    <h3>Games</h3>

    {% for game in finch.games.all %}
    <div class="song">
      <span><b>{{game.date}}</b></span>
      <span><b>{{game.opponent}}</b></span>
      <span>{{game.points}}</span>
    </div>
		{% empty %}
    <article>
      <div>
        <p>No Games Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
{% endblock %}