{% extends 'base.html'%}
{% block title %} Finches {% endblock %}
{% block content %} 

<h1>Finches (NBA Player Cards)</h1>
<div>
    {% for finch in finches %} 
    <a href = "">
        <div class = "card">
            <div class = "card-image">
                <img src = "{{finch.img}}" alt = "{{finch.name}}" />
            </div>
            <div class = "card-header">
                <p class = "card-header-title">{{finch.name}}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <article class = "message">
        <div class = "message-header">
            <p>No Artists Available</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}